*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1600px;
}

header{
    display: flex;
    height: 75px;
    background-color: #222222;
    border: 1px;
    justify-content: space-around;
    align-items: center;
}
.logo_search{
    display:flex;
    gap: 41px;
}
.right_menu{
    display:flex;
    gap: 33px;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F1E4E6;
}
.main_photo{
    justify-self: center;
}
.slogan{
    margin-left: 63px;
    align-self: center;
}
.catalogue{
    margin-top: 65px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 260px 180px;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
}
.for_women_text {
    grid-area: 1/1/2/2;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/homework4/img/For_Women.png');
    background-size:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.for_men_text {
    grid-area: 1/2/2/3;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/homework4/img/For_Men.png');
    background-size:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.for_kids_text {
    grid-area: 1/3/2/4;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/homework4/img/For_Kids.png');
    background-size:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.accesories_text {
    grid-area: 2/1/3/4;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/homework4/img/Accesories.png');
    background-size:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.catalogue_description{
color: #ffffff;
font-family: 'Lato';
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.catalogue_header{
color: #F16D7F;
font-family: 'Lato';
font-weight: 400;
font-size: 32px;
line-height: 19px;
}

.products{
    margin-top: 96px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 77px 581px 581px;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
}

.products_head{
    grid-area: 1/1/2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products_header1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.products_header2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.product{
    background-color: #F7E4E2;
    display: grid;
    grid-template-rows: 420px 1fr;
}
.product_img{
    display:block;
    justify-self: center;
    align-self: center;
}
.product_description_container{
    background-color: #F8F8F8;
    display: flex;
    justify-content: flex-start;
}
.product_text{
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    }
.product_name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.product_description{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.product_price{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
footer{
    height: 156px;
    display: flex;
    justify-content: center;
}
.browse_products_button{
    width: 211px;
    height: 47px;
    margin-top: 48px;
    border: 1px solid #FF6A6A;
    background: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

@media (min-width: 768px ) and (max-width: 1024px) {
    .container{
        max-width: 1024px;
    }
    header{
        max-width: 1024px;
        justify-content: space-between;
    }
    .logo_search{
        display:flex;
        gap: 41px;
        margin-left: 32px;
    }
    .right_menu{
        display:flex;
        gap: 33px;
        margin-right: 32px;
    }
    .main_photo{
        max-width: 512px;
    }
    .slogan{
        margin-left: 39px;
        max-width: 70%;
    }
    .catalogue{
        grid-template-columns: 231px 231px 231px;
        grid-template-rows: 167px 116px;
        row-gap: 19px;
        column-gap: 19px;
        margin-left: 16px;
        margin-right: 16px;
        }

    .catalogue_description{
            font-size: 16px;
            line-height: 15px;
        }
    .catalogue_header{
            font-size: 19px;
            line-height: 19px;
        }
    .for_women_text {
            gap: 10px;
        }
    .for_men_text {
            gap: 10px;
        }
    .for_kids_text {
            gap: 10px;
        }
    .accesories_text {
            gap: 10px;
        }

    .products{
        grid-template-columns: 360px 360px;
        grid-template-rows: 140px 581px 581px 581px;
        row-gap: 16px;
        column-gap: 14px;
     }
     .products_head{
        grid-area: 1/1/2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .product {
        width: 360px;
    }

        }
    @font-face {
        font-family: 'Lato';
        src: url('/homework4/font/Lato-Bold.ttf');
    }